
h3.FilterH3{
  margin-top: 5px;
  margin-bottom: 0px;
}
.box {
  margin-right: 10px;  
  border-bottom: 1px dotted #E4E4E4;
  border-right: 1px dotted #eeeeee;
}

span.dynatree-icon {
display: none!important;
}
ul.dynatree-container li{
line-height: 14px!important;
}

div.TreeEntry{
  position: relative;
}
div.TreeEntry h4{
  margin:5px;
  border: 1px solid #ccc;
  padding-left: 3px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

div.issueButton{
  margin:5px;
  cursor:pointer;
  border: 1px solid #ccc;
  padding-left: 3px;
  height:30px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

div.issueSelected{
  border: 1px solid black;
}

div.issueTitle{
  height:20px;
  width:185px;
  color:#4E4E4E;
  position:relative;
  top:-2px;
}
div.issueSubTitle{
  font-size: 10px;
  color:grey;
  position:relative;
  top:-6px;
}

div.issueActive{
  color:black!important;
}

ul.dynatree-container {
border: none!important;
padding: 0px!important;
}

div.TreeEntry img.tooggleButton{
  position: absolute;
  height:20px;
  cursor: pointer;
  padding-left: 170px;
}

div.TreeEntry h4{
  margin:5px;
}

img#searchLoadingImg{
  display:none;

}

div.SearchResultsHeader{
  position:relative;
}

div.SearchResultsSort{
  height: 20px;
  margin-bottom: 5px;
  width:896px;
}

span.FilterTip{
  position: absolute;
  right: 0px;
  top:5px;
}


/* Search Result template*/
div.SearchResultEntry{
  width:880px;
  height:97px;
  margin-left:5px;
  margin-bottom: 4px;
  position:relative;
}
div.SearchResultEntry:hover{
  background: #FFFFE5;
}

div.SearchResultEntry img.ResultLogo{
  float:left;
  width:24px;
  height:24px;
}
div.SearchResultEntry span.ResultTitle{
  font-size: 16px;
  position: absolute;
  top:0px;
  left:29px;
  width:800px;
  color: #374E9E;
  font-weight: bold;
}
div.SearchResultEntry div.ResultAuthors{
  position: absolute;
  top:16px;
  left:29px;
  width:800px;
  color: #374E9E;
  font-size: 12px;
}
div.SearchResultEntry div.ResultDescription{
  position:absolute;
  height: 61px;
  width: 880px;
  top:33px;
  right:-5px;
}
div.SearchResultEntry div.ResultSubDescription{
  position:absolute;
  height: 12px;
  top:5px;
  right:3px;
  color:grey;
  font-size: 10px;
}
div.SearchResultEntry a.resourceLink{
  position:absolute;
  z-index:50;
  width:896px;
  border:0px;
  height: 97px;
}