
h3.FilterH3{
  margin-top: 5px;
  margin-bottom: 0px;
}
.box {
  margin-right: 10px;  
  border-bottom: 1px dotted #E4E4E4;
  border-right: 1px dotted #eeeeee;
}

span.dynatree-icon {
display: none!important;
}
ul.dynatree-container li{
line-height: 14px!important;
}

div.TreeEntry{
  position: relative;
}
div.TreeEntry h4{
  margin:5px;
  border: 1px solid #ccc;
  padding-left: 3px;
  background: rgb(255,255,255); /* Old browsers */
}
div.TreeEntry h4:hover{
  background: #eee;
}

div.issueButton{
  line-height: 16px;
  margin:5px;
  cursor:pointer;
  border: 1px solid #ccc;
  padding-left: 3px;
  height:30px;
  background: rgb(255,255,255); /* Old browsers */
}
div.issueButton:hover{
  background: #eee;
}

div.issueDetails{
  position:relative;
  top:-3px;
  display:none;
}

div.issueSelected{
  border: 1px solid black;
  height:65px;
}

div.issueTitle{
  height:20px;
  width:185px;
  color:#4E4E4E;
  position:relative;
  top:-2px;
}
div.issueSubTitle{
  font-size: 10px;
  color:grey;
  position:relative;
  top:-6px;
}

div.issueActive{
  color:black!important;
}

ul.dynatree-container {
border: none!important;
padding: 0px!important;
}

div.TreeEntry img.tooggleButton{
  position: absolute;
  height:20px;
  cursor: pointer;
  padding-left: 170px;
}

div.TreeEntry h4{
  margin:5px;
}

img#searchLoadingImg{
  display:none;

}

div.SearchResultsHeader{
  position:relative;
}

div.SearchResultsSort{
  height: 20px;
  margin-bottom: 5px;
  width:896px;
}

span.FilterTip{
  position: absolute;
  right: 0px;
  top:5px;
}


/* Search Result template*/
div.SearchResultEntry{
  max-width:880px;
  height:97px;
  margin-left:5px;
  margin-bottom: 4px;
  position:relative;
}
div.SearchResultEntry:hover{
  background: #FFFFE5;
}

div.SearchResultEntry img.ResultLogo{
  float: right;
  max-width: 64px;
  max-height: 64px;
  margin-top: 23px;
  margin-right: 5px;
}
div.SearchResultEntry img.ResultLogo{
  float: right;
  max-width: 64px;
  max-height: 54px;
  margin-top: 23px;
  margin-right: 5px;
}
div.SearchResultEntry .CertifiedWrapper{
  position: absolute;
  right:3px;
  bottom:0px;
  font-size:10px;
  border: 1px dotted #E4E4E4;
  color:grey;
  padding-left: 3px;
}
div.SearchResultEntry .CertifiedWrapper img{
  width: 8px;
  height: 8px;
  position:relative;
  top: -1px;
}
div.SearchResultEntry span.ResultTitle{
  font-size: 16px;
  position: absolute;
  top:0px;
  left:5px;
  width:800px;
  color: #374E9E;
  font-weight: bold;
}
div.SearchResultEntry div.ResultAuthors{
  position: absolute;
  top:16px;
  left:5px;
  width:800px;
  color: #374E9E;
  font-size: 12px;
}
div.SearchResultEntry div.ResultDescription{
  position:absolute;
  height: 61px;
  width: 880px;
  top:33px;
  left:1px;
}
div.SearchResultEntry div.ResultSubDescription{
  position:absolute;
  height: 12px;
  top:5px;
  right:3px;
  color:grey;
  font-size: 10px;
}
div.SearchResultEntry a.resourceLink{
  position:absolute;
  z-index:50;
  width:896px;
  border:0px;
  height: 97px;
}